<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/common/layout">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{exercise.title07_confirm}"></title>
</head>
<body>

    <div layout:fragment="content">
        <div align="center">
            <div class="page-header">
                <h2 th:text="#{exercise.title07_confirm}"></h2>
            </div>
            <form class="form-horizontal" th:action="@{/exercise07}" method="post">

                <div class="container">
                    <table class="table table-hover">
                        <tr><td class="info col-md-2" th:text="#{itemForm.name}"></td><td class="col-md-6" th:text="${itemForm.name}"></td></tr>
                        <tr><td class="info col-md-2" th:text="#{itemForm.price}"></td><td class="col-md-6" th:text="${itemForm.price}"></td></tr>
                        <tr><td class="info col-md-2" th:text="#{itemForm.categoryId}"></td><td class="col-md-6" th:text="${itemForm.categoryName}"></td></tr>
                    </table>
                </div>

                <div class="form-group">
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-primary" type="submit" name="back" th:text="#{btn.back}"></button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-primary" type="submit" name="complete" th:text="#{btn.regist}"></button>
                    </div>
                </div>
                <br/>
            </form>
        </div>
    </div>
</body>
</html>