<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/common/layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{exercise.title06_enter}"></title>
</head>
<body>

    <div layout:fragment="content">
        <div align="center">
            <div class="page-header">
                <h2 th:text="#{exercise.title06_enter}"></h2>
            </div>
            <div class="container">
                <form  class="form-inline" th:action="@{/exercise06}" method="POST" th:object="${calcForm}">
                    <div class="form-group">
                        <input type="number" name="value1"   th:field="*{value1}" class="form-control">
                        <label>+</label>
                        <input type="number" name="value2"   th:field="*{value2}" class="form-control">
                    </div>
                    <button class="btn btn-primary" type="submit" th:text="#{button.calc}"></button>

                    <p>
                        <div style="color:red;">
                            <span th:each="error : ${#fields.detailedErrors()}">
                                <span th:text="${error.message}"></span><br/>
                            </span>
                        </div>
                    </p>

                </form>
            </div>
        </div>
    </div>

</body>
</html>