<!DOCTYPE html>
<html layout:decorator="/common/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div align="center">
        <h1 th:text="#{thymeleaf.sample.message}"></h1>
        <div th:if="${isLogin}">ログインしています</div>
        <div th:unless="${isLogin}">ログインしていません</div>
        <div class="page-header"><h2 th:text="メニュー"></h2></div>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>価格</th>
                <th>カテゴリID</th>
            </tr>
            <tr th:each="item : ${list}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.categoryId}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>